In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Training_data.csv")
df.columns = ["vol1", "close1", "vol2", "close2","vol3", "close3","vol4", "close4","vol5", "close5","vol6", "close6","vol7", "close7","vol8", "close8", "vol9", "close9","vol10", "close10"]
df.head()

,vol1,close1,vol2,close2,vol3,close3,vol4,close4,vol5,close5,vol6,close6,vol7,close7,vol8,close8,vol9,close9,vol10,close10
0,4615000,112.93,10779800,333.34,12932000,162.00,3348400,290.75,9124400,967.65,4687200,406.02,26200,217.67,31904400,190.11,1486100,232.33,2406100,2372.81
1,13630100,114.73,8751600,323.51,6461300,164.00,3231700,289.75,6477400,969.43,6981000,407.25,6400,215.38,12396100,188.10,844400,239.14,8110500,2324.05
2,3197500,118.56,15594300,311.71,19371700,166.75,7053200,266.25,8223700,979.64,8573400,412.00,14900,218.81,23122600,187.87,917300,231.13,6586000,2309.75
3,5110400,118.33,13379500,311.38,8292100,166.00,13946000,268.50,13556800,1001.85,9593100,416.75,6800,215.95,16656400,186.08,1953900,230.48,3047800,2339.18
4,3989600,118.56,9930700,298.27,9164300,168.75,9220200,273.50,10576100,985.42,12612600,439.00,4700,215.95,20974500,184.74,1025300,227.13,3073300,2351.79

Add 5 day moving averages

In [33]:
mas = []
for k in range(1,11):
    ma = [df['close'+str(k)][i] for i in range(50)]
    for i in range(50, len(df)):
        ma.append(np.average([df['close'+str(k)][n] for n in range(i-50, i)]))
    mas.append(ma)

In [34]:
df = df.assign(moving_average50_1=mas[0])
df = df.assign(moving_average50_2=mas[1])
df = df.assign(moving_average50_3=mas[2])
df = df.assign(moving_average50_4=mas[3])
df = df.assign(moving_average50_5=mas[4])
df = df.assign(moving_average50_6=mas[5])
df = df.assign(moving_average50_7=mas[6])
df = df.assign(moving_average50_8=mas[7])
df = df.assign(moving_average50_9=mas[8])
df = df.assign(moving_average50_10=mas[9])

In [47]:
ms = []
for k in range(1,11):
    m = []
    for i in range(0, 50):
        m.append(max([df['close'+str(k)][i] for n in range(50)]))
    for i in range(50, len(df)):
        m.append(max([df['close'+str(k)][i] for n in range(i-50, i)]))
    ms.append(m)

In [49]:
df = df.assign(max50_1=ms[0])
df = df.assign(max50_2=ms[1])
df = df.assign(max50_3=ms[2])
df = df.assign(max50_4=ms[3])
df = df.assign(max50_5=ms[4])
df = df.assign(max50_6=ms[5])
df = df.assign(max50_7=ms[6])
df = df.assign(max50_8=ms[7])
df = df.assign(max50_9=ms[8])
df = df.assign(max50_10=ms[9])

In [65]:
ms = []
for k in range(1,11):
    m = []
    for i in range(0, 50):
        m.append(min([df['close'+str(k)][i] for n in range(50)]))
    for i in range(50, len(df)):
        m.append(min([df['close'+str(k)][i] for n in range(i-50, i)]))
    ms.append(m)

In [66]:
df = df.assign(min50_1=ms[0])
df = df.assign(min50_2=ms[1])
df = df.assign(min50_3=ms[2])
df = df.assign(min50_4=ms[3])
df = df.assign(min50_5=ms[4])
df = df.assign(min50_6=ms[5])
df = df.assign(min50_7=ms[6])
df = df.assign(min50_8=ms[7])
df = df.assign(min50_9=ms[8])
df = df.assign(min50_10=ms[9])

In [68]:
df

,vol1,close1,vol2,close2,vol3,close3,vol4,close4,vol5,close5,...,min25_1,min25_2,min25_3,min25_4,min25_5,min25_6,min25_7,min25_8,min25_9,min25_10
0,4615000,112.93,10779800,333.34,12932000,162.00,3348400,290.75,9124400,967.65,...,112.93,333.34,162.00,290.75,967.65,406.02,217.67,190.11,232.33,2372.81
1,13630100,114.73,8751600,323.51,6461300,164.00,3231700,289.75,6477400,969.43,...,114.73,323.51,164.00,289.75,969.43,407.25,215.38,188.10,239.14,2324.05
2,3197500,118.56,15594300,311.71,19371700,166.75,7053200,266.25,8223700,979.64,...,118.56,311.71,166.75,266.25,979.64,412.00,218.81,187.87,231.13,2309.75
3,5110400,118.33,13379500,311.38,8292100,166.00,13946000,268.50,13556800,1001.85,...,118.33,311.38,166.00,268.50,1001.85,416.75,215.95,186.08,230.48,2339.18
4,3989600,118.56,9930700,298.27,9164300,168.75,9220200,273.50,10576100,985.42,...,118.56,298.27,168.75,273.50,985.42,439.00,215.95,184.74,227.13,2351.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140,5976300,129.50,14548000,105.68,12159600,107.25,5819100,147.50,12919900,1566.00,...,129.50,105.68,107.25,147.50,1566.00,244.50,105.50,296.75,230.75,1921.94
1141,7781700,129.00,5365300,105.45,7353300,106.50,7603400,147.00,6455300,1574.44,...,129.00,105.45,106.50,147.00,1574.44,238.50,105.00,294.35,229.00,1912.86
1142,4473500,131.25,9434600,107.53,11313600,109.00,4955000,147.25,14919400,1613.85,...,131.25,107.53,109.00,147.25,1613.85,238.25,105.00,295.31,234.25,1889.24
1143,6081700,132.00,17842300,107.77,10775600,108.75,8111600,147.25,8115500,1591.33,...,132.00,107.77,108.75,147.25,1591.33,241.75,106.00,297.23,233.00,1867.45
1144,4549200,132.75,11099400,107.53,13699400,110.00,8103200,146.50,8010600,1601.65,...,132.75,107.53,110.00,146.50,1601.65,239.75,105.50,298.18,235.00,1845.65

In [28]:
df.to_csv("complete_data.csv")