In [177]:
import pandas as pd
import numpy as np

In [178]:
df = pd.read_csv("Training_data.csv")
df.columns = ["vol1", "close_1", "vol2", "close_2","vol3", "close_3","vol4", "close_4","vol5", "close_5","vol6", "close_6","vol7", "close_7","vol8", "close_8", "vol9", "close_9","vol10", "close_10"]
df.head()

,vol1,close_1,vol2,close_2,vol3,close_3,vol4,close_4,vol5,close_5,vol6,close_6,vol7,close_7,vol8,close_8,vol9,close_9,vol10,close_10
0,4615000,112.93,10779800,333.34,12932000,162.00,3348400,290.75,9124400,967.65,4687200,406.02,26200,217.67,31904400,190.11,1486100,232.33,2406100,2372.81
1,13630100,114.73,8751600,323.51,6461300,164.00,3231700,289.75,6477400,969.43,6981000,407.25,6400,215.38,12396100,188.10,844400,239.14,8110500,2324.05
2,3197500,118.56,15594300,311.71,19371700,166.75,7053200,266.25,8223700,979.64,8573400,412.00,14900,218.81,23122600,187.87,917300,231.13,6586000,2309.75
3,5110400,118.33,13379500,311.38,8292100,166.00,13946000,268.50,13556800,1001.85,9593100,416.75,6800,215.95,16656400,186.08,1953900,230.48,3047800,2339.18
4,3989600,118.56,9930700,298.27,9164300,168.75,9220200,273.50,10576100,985.42,12612600,439.00,4700,215.95,20974500,184.74,1025300,227.13,3073300,2351.79

Add 5 day moving averages

In [179]:
# size_array = [5, 10, 15, 25, 50]
size_array = list(range(1, 100))

1145

In [ ]:
for index in size_array:
    for k in range(1,11):
        ma = [df['close_'+str(k)][i] for i in range(index)]
        for i in range(index, len(df)):
            ma.append(np.average([df['close_'+str(k)][n] for n in range(i-index, i)]))
        # mas.append(ma)
        df[f'avg{index}_{k}'] = ma

In [ ]:
for index in size_array:
    for k in range(1,11):
        m = []
        for i in range(0, index):
            m.append(max([df['close_'+str(k)][i] for n in range(index)]))
        for i in range(index, len(df)):
            m.append(max([df['close_'+str(k)][i] for n in range(i-index, i)]))
        df[f'max{index}_{k}'] = m

In [ ]:
for index in size_array:
    for k in range(1,11):
        m = []
        for i in range(0, index):
            m.append(min([df['close_'+str(k)][i] for n in range(index)]))
        for i in range(index, len(df)):
            m.append(min([df['close_'+str(k)][i] for n in range(i-index, i)]))
        ms.append(m)
        df[f'min{index}_{k}'] = m

In [ ]:
df.to_csv("complete_data.csv")